<div class="rh-table-wrap rh-backtests-table-wrap">
  <table class="rh-data-table rh-backtests-table">
    <thead>
      <tr>
        <th scope="col" data-i18n="backtests.history.table.created">{{ t("backtests.history.table.created") }}</th>
        <th scope="col" data-i18n="backtests.history.table.state">{{ t("backtests.history.table.state") }}</th>
        <th scope="col" data-i18n="backtests.history.table.request">{{ t("backtests.history.table.request") }}</th>
        <th scope="col" data-i18n="backtests.history.table.progress">{{ t("backtests.history.table.progress") }}</th>
        <th scope="col" data-i18n="backtests.history.table.hash">{{ t("backtests.history.table.hash") }}</th>
        <th scope="col" data-i18n="backtests.history.table.actions">{{ t("backtests.history.table.actions") }}</th>
      </tr>
    </thead>
    <tbody data-backtests-history-body>
      <tr>
        <td colspan="6" data-i18n="backtests.history.loading">{{ t("backtests.history.loading") }}</td>
      </tr>
    </tbody>
  </table>
</div>
